{% extends "MyDose/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
      </div>
       <table class="table">
       <thead>
       <tr>
       <th>Diagnosis </th>
       <th>med_drugs</th>
       <th>Reminder Time</th>
       
       <th></th>
       <tr>
       </thead>
       <tbody>
       {% for reminder in all_Reminders%}
       <tr> 
       <td>{{Reminder.from_diagnosis}}</td>
       <td>{{Reminder.from_med_drugs}}</td>
       <td>{{Reminder.reminder_time_morning}},{{Reminder.reminder_time_midday}},{{Reminder.reminder_time_evening}}</td>
       <td></td>
       <td></td>
       
       </tr>
       {% endfor %}
          
       
       </tbody>
       </table>
    </div>
  </article>
{% endblock content %}